body{
    display: flex;
flex-direction: column;
align-items: center;
margin-top: 200px;
background-color: rgb(180, 215, 177);

}

.manga {
    display: flex;
flex-direction: column;
align-items: center;
height: auto;
width: 500px;
background-color: rgb(116, 151, 115);

background-image: url(https://institutoamparanimal.org.br/wp-content/uploads/2023/10/gato_preto_ampara_petlove.png);
display:flex;
flex-direction: column;
align-items: center;
}